* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(250, 246, 246);
    margin: 0;
}

.all {
    height: 75vh;
    width: 100%;
    margin 0;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    background-color: rgb(80, 146, 146);
}

.headbar {
    padding: 5px;
    display: flex;
    background-color: rgb(15, 63, 63);
    justify-content: space-evenly;
    color: white;
    font-size: 12px;
    margin-bottom: 100px;
}
.head{
    display: flex;
    justify-content: center;
    height: 190px;
    padding-top: 0px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 3vh;
}
.headcontent{
    margin-left: 0vh;
}

.headcontent h1 {
    /* height: 120px; */
    flex-wrap: wrap;
    padding: 7px 0;
    margin-left: 3vh;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headimage {
    flex-wrap: nowrap;
    height: auto;
    margin-bottom: 0px;
}
.headcontent p{
    /* border: 1px s1olid; */
    width: 80%;
    padding: 0 7px;
    word-wrap: break-word;
    margin-left: 3vh;
}
.card {
    background-color: beige;
    width: 350px;
    height: fit-content;
    margin: 28px 15px 15px 10px;
    padding: 12px;
    border-radius: 30px 30px 30px 30px;
    /* flex-grow: 1; */
}

.card-image {
    /* background-color: rgb(15, 63, 63); */
    height: auto;
    border-radius: 30px 30px 0 0;
    margin-bottom: 3px;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.card h1 {
    padding-top: 8px;
    padding-left: 8px;
}
.card p {
    padding: 5px;
    padding-bottom: 9px;
    padding-left: 8px;
}


.card a {
    background-color: rgb(15, 63, 63);
    padding: 4px;
    display: block;
    flex-wrap: nowrap;
    color: white;
    text-align: center;
    margin: 4px;
    border-radius: 15px 15px 15px 15px;
    font-size: auto;
}
.card-container{
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 607px){
    /* 546px */
    *{
        margin: 0ch;
        padding: 0%;
    }
    .headbar{
        display: none;
    }
    .head{
        flex-wrap: wrap-reverse;
        /* margin-bottom: auto; */
        margin: auto;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .headcontent h1{
        padding-bottom: 2px;
        font-size: auto;
        margin: auto;
        justify-content: center;
    }
    .headcontent p{
        font-size: 20px;
        margin: 0;
        padding: auto;
        /* border: 1px solid; */
        width: auto;
    }
    .headimage{
        width: 100%;
        /* border: 1px solid; */
        text-align: center;
    }
    .headimage img{
        margin-top: 3vh;
        width: 100%;
        height: 100%;
    }
    .headcontent{
        margin-top: 2vh;
        text-align: center ;
        justify-content: center;
    }
    .card-container{
        flex-wrap: wrap;
        width: 100vh;
        justify-content: center;
    }
    .card{
        width: 89%;
        height: fit-content;
    }
    .card-image{
        height: 190px;
        width: auto;
        margin: 12px 12px 0px 12px;
    }
    .card h1{
        margin: 3px 3px 3px 4px;
        padding-top: 0px;
        font-size: 39px;
    }
    .card p{
        margin: 1px 1px 13px 3px;
        font-size: 25px;
    }
    .card a{
        margin: 10px 10px 10px 10px;
        padding: 9px 1px;
        font-size: 26px;
    }
    .all{
        height: auto;
        width: auto;
        margin: 0;
        margin-top: 4vh;
    }
}
